<div class="schedule-container">
  <!-- Navigation Header -->
  <div class="calendar-header">
    <div class="week-navigation">
      <button id="prevWeek" class="btn-week">&#8249;</button>
      <div class="current-week">
        <span id="weekLabel" class="week-label"></span>
      </div>
      <button id="nextWeek" class="btn-week">&#8250;</button>
    </div>
  </div>

  <!-- Calendar Grid Container -->
  <div id="calendarWrapper">
    <div id="calendarContainer"></div>
    <div id="eventOverlay"></div>
  </div>
</div>